#navigation
  %a{ :id => "t-about", :href => '/about' } About Me
  %a{ :id => "t-blog", :href => '/blog' } Blog    
  %a{ :id => "t-gallery", :href => '/gallery' } Gallery
  = for_me "%a{ :href => '/logout' } Logout"

  %a{ :id => "rss", :style => "display:none", :href => '/rss.xml' }
    %img{:src => 'rss.gif'}
