!!!
%html
  %meta{"http-equiv" => 'Content-Type', "content" => 'text/html'}
  %head
    %title Igor Afonov    
    %link{ :rel=>"stylesheet", :href=>"/style.css", :type=>"text/css"}    
    %link{ :rel => "icon", :href => "/avatar.png"} 
  %body{ :id => "about" }
    #content
      = partial :navigation    
      
      %p
        %img{ :id => 'me', :src => '/me.jpg', :align => 'right' }        

        
        %h2 Igor Afonov
        
        %ul       
          %li <a href="mailto:afonov@gmail.com">afonov@gmail.com</a>                                       
          %li <a href="http://github.com/iafonov">github.com/iafonov</a>                    
          %li <a href="http://www.linkedin.com/in/iafonov">linkedin.com/in/iafonov</a>                                      
          %li <a href="skype:iafonov?chat" class="skype">iafonov</a>          
  
