!!!
%html
  %meta{"http-equiv" => 'Content-Type', "content" => 'text/html'}
  %head
    %title Micro blog
    %link{ :rel=>"stylesheet", :href=>"/style.css", :type=>"text/css"}    
  %body{ :id => "gallery" }
    = partial :navigation    