!!!
%html
  %meta{"http-equiv" => 'Content-Type', "content" => 'text/html'}
  %head    
    %link{ :rel=>"stylesheet", :href=>"/style.css", :type=>"text/css"}
    %title Blog
  %body{ :id => "blog" }
    #content
      = partial :navigation   
      %br 
      #flash= @flash
      = yield