%h3 Adding new post:

%form{ :action => "add", :method => "post"}
  Title:
  %input{:name => "title"} 
  %br
  Body: 
  %textarea{:name=>"body", :cols => 80,  :rows => 40}
  %br
  Available tags:
  - for tag in @tags
    %a{:href => "blog/#{tag}", :class => "tag"}= tag
    &nbsp;
  
  Tags:
  %input{:name => "tags", :value => "#{@tags}"} 
  %input{:type=>"submit"}