#navigation
  :padding-top 2em
  :font-size 130%

  a
    :padding-right 0.25em
    :padding-left 0.25em
    
    :text-decoration none

    &:hover
      :background #000  

a
body#blog #t-blog
  :text-decoration underline
  :font-size 115%

a
body#gallery #t-gallery
  :text-decoration underline
  :font-size 115%

a
body#about #t-about
  :text-decoration underline  
  :font-size 115%

a
  :color #1177DD
  
  &:hover
    :background-color black

#flash
  :color white
  :background-color black
  :text-align center      

body
  :font-family Helvetica, Arial, sans-serif
  :margin auto 9em    
  :width 750px

.post-title
  :font-size 20px
  :padding-top 5px

.post-footer
  :padding-bottom 20px

.comment
  :margin-bottom 5px  

#add-comment-form  
  :text-align right
  :margin-bottom 50px

  ul
    :list-style-image none
    :list-style-position outside
    :list-style-type none

#comment-area
  :border 1px solid black 
  :font-family Helvetica, Arial, sans-serif 
  :width 100%
  &:hover, &:focus
    :border 1px solid red  
    

#comment-submit
  :background transparent url(/images/formbg.gif) repeat-x scroll left top
  :border 1px outset #CCCCCC
  :color #666666    
  :padding 1px 2px

#me
  :padding-left 10px

.mark
  :float left
  :margin-left -6em    
  :margin-top 3px
  :background-color black
  :color #1177DD
  :font-size 20px  
  :padding-top 2px
  :padding-bottom 1px
  :padding-left 5px
  :padding-right  5px

#gallery  
  img
    :padding 3px